.slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.slick-slide h3 {
    width: 400px;
    height: 160px;
    color: #fff;
}
img {
    width: 400px;
    height: 160px;
}
.CarouselDiv{
    width: 400px;
    height: 160px;
}
